.hamburger-menu {
    width: 100px;
    height: 80px;
    background-color: white;
    position: fixed;
    right: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; 
    &:hover .hamburger-menu-wrapper{
        transform: rotate(90deg);
    }
    &:hover .line-1{
        transform: rotate(45deg);
    }
    &:hover .line-2{
        transform: rotate(-45deg);
    }
    &:hover .line-3{
        opacity: 0;
    }
    &-wrapper {
        transition: transform 1s;
        height: 50%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .line {
        width: 50%;
        height: 2px;
        background-color: black;
        transition: all .3s;
        transform-origin: top;
        
        
    }
}