.heading-secondary {
   font-size: 3.5rem;
   text-transform: uppercase;
   font-weight: 700;
   background-image: linear-gradient(to right bottom, $color-primary, $color-primary-ligth);
   -webkit-background-clip: text;
   color: transparent;
}
